body {
    background-color: #3f3f3f;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Arial, sans-serif;
    color: #ff0000;
}

p {
    font-family: Arial, sans-serif;
    color: #ffffff;
}